.landing-container {
    height: 100%;
    width: 100%;
    position: absolute;

    overflow: hidden;

    background: linear-gradient(to bottom, var(--color-primary), var(--color-light));

    z-index: -2;
}

.landing-container header {
    height: 100px;
    width: 100%;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.landing-container .logo-image {
    height: 70px;
    margin-left: 100px;
}

.landing-container .user-buttons {
    display: inline-flex;
    justify-content: space-between;

    width: 480px;
    margin-right: 120px;
}

.landing-container .user-buttons .btn {
    width: 220px;
    height: 66px;

    opacity: 75%;

    border-radius: 33px;
    border: 3px solid var(--color-white);
    box-shadow: 0px 3px 6px var(--color-shadow);

    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    color: var(--color-white);
    text-shadow: 0px 3px 6px var(--color-shadow);

    display: inline-flex;
    align-items: center;
    
    cursor: pointer;
    transition: .3s opacity;
}

.landing-container .user-buttons .btn:hover {
    opacity: 1;
}

.landing-container .user-buttons .btn .icon {
    fill: var(--color-white);

    margin-left: 25px;
    margin-right: 15px;

    height: 40px;
    width: 40px;
}

@media ( max-width: 1040px ) {
    .landing-container .user-buttons {
        display: none;
    }
}

.landing-container .bg-decoration {
    position: absolute;
    right: 0;
    bottom: 0;

    z-index: -1;
}

.landing-container .aside-bar {
    height: 100%;
    width: 70px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    right: 0;
    top: 0;

    z-index: 10;

    background: rgba(var(--color-primary-rgb), .9);

    transition: .4s;
}

.landing-container .aside-bar:hover {
    width: 225px;
}

.landing-container .aside-bar > div,
.landing-container .aside-bar > label {
    transition: .4s;
}

.landing-container .aside-bar .logo-aside {
    width: 36px;
    height: 36px;
    margin-top: 50px;

    transition: .4s;
}

.landing-container .aside-bar:hover .logo-aside {
    width: 95px;
    height: 95px;
    margin-top: 50px;
}

.landing-container .aside-bar .search-box {
    margin-top: 180px;
    width: 32px;
    height: 32px;

    margin-bottom: 128px;

    display: flex;
    align-items: center;

    border-radius: 16px;

    background: var(--color-lighter);
    border: 1px solid var(--color-text-light);

    color: var(--color-text-light);

    overflow: hidden;
    cursor: text;
}

.landing-container .aside-bar:hover .search-box {
    width: 180px;
    margin-top: 121px;
}

.landing-container .aside-bar .search-box .search-icon {
    height: 24px;
    width: 24px;

    fill: var(--color-text-light);
    margin-left: 4px;
}

.landing-container .aside-bar .search-box input {
    display: none;
    opacity: 0;

    background: none;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;

    width: 130px;
    height: 20px;

    padding-left: 6px;

    transition: .4s;
}

.landing-container .aside-bar:hover .search-box input {
    display: block;
    opacity: 1;
}

.landing-container .aside-bar:hover .aside-container {
    display: inline-flex;
    align-items: center;

    opacity: .8;

    cursor: pointer;

    transition: .4s;
}

.landing-container .aside-bar .aside-container + .aside-container {
    margin-top: 86px;
}

.landing-container .aside-bar .aside-container {
    display: inline-flex;

    overflow: hidden;
    transition: .4s;
}

.landing-container .aside-bar:hover .aside-container {
    left: 0;
}

.landing-container .aside-bar .aside-container span,
.landing-container .aside-bar .donate-container span {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;

    color: var(--color-white);

    transition: .4s;
    white-space: nowrap;
    opacity: 0;
    display: none;
}

.landing-container .aside-bar:hover .aside-container span,
.landing-container .aside-bar:hover .donate-container span {
    opacity: 1;
    display: block;
}

.landing-container .aside-bar .aside-container .aside-icon {
    fill: var(--color-white);

    transition: .25s;
}

.landing-container .aside-bar:hover .aside-container .aside-icon {
    margin-right: 12px;
}

.landing-container .aside-bar:hover .aside-container:hover {
    opacity: 1;
}

.landing-container .aside-bar:hover .aside-container:hover .aside-icon {
    margin-right: 8px;
}

.landing-container .aside-bar .donate-container {
    display: flex;
    align-items: center;

    margin-top: 290px;

    background: none;
    border: 2px solid var(--color-white);
    border-radius: 24px;

    opacity: .8;

    transition: .4s;
    cursor: pointer;

    padding: 6px 12px;
}

.landing-container .aside-bar .donate-container:hover {
    background: rgba(255, 255, 255, .1);
}

.landing-container .aside-bar .donate-container .paypal-icon {
    color: var(--color-white);
    
    width: 22px;
    height: 26px;
}

.landing-container .aside-bar:hover .donate-container .paypal-icon {
    margin-right: 12px;
}